<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MyChat - Código de Acesso</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    "
  >
    <header
      style="
        background-color: #92c7ed;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      "
    >
      <img
        src="../../images/email (1).png"
        style="width: 70px; margin: 0; padding: 0; box-sizing: border-box"
        alt=""
      />
    </header>
    <section
      style="
        padding: 50px 20px;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      "
    >
      <h1
        style="
          font-weight: lighter;
          font-size: 2.4rem;
          margin-bottom: 20px;
          text-align: center;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: sans-serif;
        "
      >
        Email Confirmation
      </h1>
      <p
        style="
          text-align: center;
          line-height: 2rem;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: sans-serif;
        "
      >
        Hey {{name}}! You are almost ready to start enjoying MyChat
      </p>
      <p style="text-align: center; line-height: 2rem">
        You just need to enter the following access code:
      </p>
      <span
        class="center"
        style="display: flex; justify-content: center; margin: 20px 0px"
      >
        <p
          style="
            margin: 0 auto;
            text-align: center;
            display: inline-block;
            font-family: 'Courier New', monospace; /* Must be a monospace font */
            font-size: 32px;
            color: #fff;
            letter-spacing: 0.5em;
            text-indent: 0.2em;
            background: linear-gradient(
                to left,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 0.2em,
                rgba(140, 41, 41, 0) 0.2em
              ),
              /* Hide extra BG caused by text-indent */
                linear-gradient(
                  90deg,
                  #0c8ce9 0%,
                  #0c8ce9 90%,
                  rgba(255, 255, 255, 1) 90%,
                  rgba(255, 255, 255, 1) 100%
                );
            background-size: 100%, 1.1em;
          "
        >
          485423
        </p>
      </span>

      <p style="text-align: center; line-height: 2rem">
        Use this code to login to the application.
      </p>
      <p style="text-align: center; line-height: 2rem">Thank you!</p>
      <div
        class="btn-container"
       
      >
        <button
          style="
            background-color: #0c8ce9;
            height: 50px;
            width: 100%;
            max-width: 220px;
            border-radius: 20px;
            border: none;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            margin: 0 auto;
            display: block;
          "
          onmouseover="this.style.backgroundColor='#0a76c2'"
          onmouseout="this.style.backgroundColor='#0c8ce9'"
        >
          Verify email address
        </button>
      </div>
    </section>
  </body>
</html>
